
@define-color base00 #1b2b34;
@define-color base01 #343d46;
@define-color base02 #4f5b66;
@define-color base03 #65737e;
@define-color base04 #a7adba;
@define-color base05 #c0c5ce;
@define-color base06 #cdd3de;
@define-color base07 #d8dee9;
@define-color base08 #ec5f67;
@define-color base09 #f99157;
@define-color base0A #fac863;
@define-color base0B #99c794;
@define-color base0C #5fb3b3;
@define-color base0D #6699cc;
@define-color base0E #c594c5;
@define-color base0F #ab7967;


* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: DejaVu Sans Mono, FontAwesome, forkawesome, sans-serif;
    font-size: 18px;
    min-height: 0;
}

window#waybar {
    background-color: @base00;
    border-bottom: 3px solid @base0C;
    color: @base07;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: @base07;
}
*/

#workspaces button {
    padding: 0 3px;
    background-color: transparent;
    color: @base07;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: @base0C;
    color: @base01;	
    box-shadow: inset 0 -3px @base07;
}

#workspaces button.focused {
    background-color: @base0C;
    color: @base01;
/*    box-shadow: inset 0 -3px @base0C; */
}

#workspaces button.urgent {
    background-color: @base08;
}

#mode {
    background-color: @base0F;
    border-bottom: 3px solid @base07;
}

#taskbar {
/*    border-radius: 3px 3px 3px 3px; */
    padding: 0px 3px 0px 3px;
    margin: 0px 3px 0px 3px;
    color: @base0C;
    /* TODO: mesclar alpha com hex */
    background-color: rgba(52,61,70,0.5);
    box-shadow: inset 0 -3px @base0C;
}

#taskbar button {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 3px 0px 3px;
    margin: 0px 0px 0px 0px;
    color: @base07;
/*    background-color: rgba(120,118,117,0.1); */
    background-color: transparent;
}

#taskbar button.active {
/*    background-color: rgba(120,118,117,0.8); */
    background-color: transparent;
}

#taskbar button:hover {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 3px 0px 3px;
    margin: 0px 0px 0px 0px;
    color: @base07;
    /* TODO: mesclar alpha com hex */
    background-color: rgba(95,179,179,0.9);
    box-shadow: inset 0 -3px @base07;
/*    background-color: transparent; */
}

#clock,
#custom-clock,
#custom-date,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-alsa,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 2px;
    margin: 0 2px;
    color: @base07;
}

#custom-date {
    font-size: 12px;
    font-family: DejaVu Sans Mono;
/*    font-weight: Bold; */
/*    background-color: #383c4a; */
    background-color: transparent;
    color: @base07;
}

#battery {
    background-color: @base07;
    color: @base00;
}

#battery.charging {
    color: @base07;
    background-color: @base0A;
}

@keyframes blink {
    to {
        background-color: @base07;
        color: @base00;
    }
}

#battery.critical:not(.charging) {
    background-color: @base08;
    color: @base07;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: @base00;
}

#cpu {
    background-color: @base0E;
    color: @base07;
}

#memory {
    background-color: @base0E;
    color: @base07;

}

#backlight {
    background-color: @base0E;
}

#network {
    font-size: 12px;
    font-family: DejaVu Sans Mono, Fontawesome, forkawesome;
/*    font-weight: Bold; */
/*    background-color: @base0E; */
    color: @base0B;
    background-color: transparent;
}

#network.disconnected {
    color: @base01;
    font-weight: Bold;
    background-color: @base08;
}

#custom-alsa {
    font-size: 18px;
/*    background-color: @base0E; */
    background-color: transparent;
    color: @base07;
}

#pulseaudio {
    background-color: transparent;
    color: @base07;
}

#pulseaudio.muted {
    background-color: @base0F;
    color: @base07;
}

#custom-media {
    background-color: @base08;
    color: @base07;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: transparent;
    color: @base07;
}

#pulseaudio.muted {
    background-color: @base0F;
    color: @base07;
}

#custom-media {
    background-color: @base08;
    color: @base07;
    min-width: 100px;
}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
    background-color: transparent;
}

#temperature {
    background-color: transparent;
    color: @base07;
}

#temperature.critical {
    background-color: transparent;
}

#tray {
    background-color: transparent;
}

#idle_inhibitor {
    background-color: transparent;
    color: @base07;
}

#idle_inhibitor.activated {
    background-color: @base04;
    color: @base00;
    box-shadow: inset 0 -3px @base0C;
}

#mpd {
    background-color: transparent;
    color: @base07;
}

#mpd.disconnected {
    background-color: transparent;
}

#mpd.stopped {
    background-color: transparent;
}

#mpd.paused {
    background-color: transparent;
}

#language {
    background: transparent;
    color: @base07;
    padding: 0 5px;
    margin: 0 3px;
    min-width: 16px;
}
