* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: DejaVu Sans Mono, FontAwesome, forkawesome, sans-serif;
    font-size: 18px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(17, 25, 39, 0.9);
    border-bottom: 3px solid rgba(55, 76, 110, 0.0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
    background-color: rgba(53, 96, 161, 1.0);
    color: #ffffff;
    box-shadow: inset 0 -3px #3560a1;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#taskbar {
    border-radius: 0px 5px 0px 5px;
    padding: 0px 5px 0px 5px;
    margin: 0px 5px 0px 5px;
    color: #ffffff;
    background-color: rgba(120,118,117,0.3);
}
#taskbar button {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 2px 0px 2px;
    margin: 0px 0px 0px 0px;
    color: #ffffff;
/*    background-color: rgba(120,118,117,0.1); */
    background-color: transparent;
}
#taskbar button.active {
/*    background-color: rgba(120,118,117,0.8); */
    background-color: transparent;
}

#clock,
#custom-clock,
#custom-date,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-alsa,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 6px;
    margin: 0 2px;
    color: #ffffff;
}

#custom-date {
    font-size: 12px;
    font-family: DejaVu Sans Mono;
/*    font-weight: Bold; */
/*    background-color: #383c4a; */
    background-color: transparent;
    color: #ffffff;
}

#custom-clock {
    font-size: 22px;
    font-family: DejaVu Sans Mono;
/*    font-weight: Bold; */
/*    background-color: #383c4a; */
    background-color: transparent;
    color: #ffffff;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #6485c2;
    color: #ffffff;
}

#memory {
    background-color: #3560a1;
    color: #ffffff;

}

#backlight {
    background-color: #90b1b1;
}

#network {
    font-size: 12px;
    font-family: DejaVu Sans Mono, Fontawesome, forkawesome;
/*    font-weight: Bold; */
/*    background-color: #2980b9; */
    background-color: transparent;
}

#network.disconnected {
    background-color: #f53c3c;
}

#custom-alsa {
    font-size: 18px;
/*    background-color: #383c4a; */
    background-color: transparent;
    color: #ffffff;
/*    background-color: #f1c40f;  */
/*    color: #000000;             */
}

#pulseaudio {
    background-color: #f1c40f;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color : #1d508b ;
    color: #ffffff;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
/*    background-color: #2980b9; */
    background-color: transparent;
}

#idle_inhibitor {
    background-color: #2980b9;
    color: #2d3436
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #0e3a8b;
    color: #ffffff;
    padding: 0 5px;
    margin: 0 3px;
    min-width: 16px;
}
